
<div class="card-deck" style="width: 60%; margin: auto">
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 0}} style="width: 150px; margin: auto ">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 0}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 1}}  style="width: 150px; margin: auto">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 1}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 2}} style="width: 150px; margin: auto">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 2}}</h5>
    </div>
  </div>
</div>
<br>
<br>

<div class="card-deck" style="width: 60%; margin: auto">
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 3}}  style="width: 150px; margin: auto">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 3}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 4}}  style="width: 150px; margin: auto">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 4}}</h5>
    </div>
  </div>
  <div class="card text-center">
    <img class="card-img" src={{getIcon id 5}}  style="width: 150px; margin: auto">
    <div class="card-body">
      <h5 class="card-title">{{getIconText id 5}}</h5>
    </div>
  </div>
</div>